#root {
  text-align: center;
  font-family: "Figtree", Montserrat;
  min-height: 100vh;
  min-width: 100vw;
}

.navbar {
/* background-image: linear-gradient(to top, #9fdce2, #80c3cb, #61abb5, #40939f, #127c8a);  */
background-color: #9FDCE2;
}

.search-page {
  /* background-image: url("/public/backgroundSearch.jpg"); */
  background-color: #ebfdfe;
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  margin: 0;
  min-width: 100vw;
  padding: 2%;

}

.search-results {
  padding: 3.2rem;
  border-radius: 0.6rem;
  
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}